<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
 
    <!-- Declare the JNDI lookup of the default data source -->
    <resource-ref>
        <res-ref-name>jdbc/DefaultDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
    </resource-ref>
    <resource-ref>
	   <res-ref-name>EcmService</res-ref-name>
	   <res-type>com.sap.ecm.api.EcmService</res-type>
	</resource-ref>
    <session-config>
    <session-timeout>15</session-timeout> <!-- in minutes -->
  </session-config>
	    <security-constraint>
	    <web-resource-collection>
	      <web-resource-name>User App Services</web-resource-name>
	      <url-pattern>/user/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	      <role-name>User</role-name>
	    </auth-constraint>
	  </security-constraint>
	  <security-constraint>
	    <web-resource-collection>
	      <web-resource-name>Admin App Services</web-resource-name>
	      <url-pattern>/admin/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	      <role-name>Admin</role-name>
	    </auth-constraint>
	  </security-constraint>
	  <security-constraint>
	    <web-resource-collection>
	      <web-resource-name>Common Services</web-resource-name>
	      <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	      <role-name>All</role-name>
	    </auth-constraint>
	  </security-constraint>
	  <login-config>
	    <auth-method>FORM</auth-method>
	  </login-config>
</web-app>
